body{
    margin: 0px;
    background: #121826;
}

.left_right{
  display: flex;
}

.top-part{
    display: flex;
    padding: 10px 20px;
    align-items: center;
    flex-direction: row;
    column-gap: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.profile{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    padding-right: 17px;
    border-right: 1px solid white;
}
.profile img{
    object-fit: cover;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: inline-block;
}

.heading{
    padding: 20px;
    padding-bottom: 15px;
}

.heading h2{
    margin: 0px;
    letter-spacing: 1px;
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 5px;
}

.heading p{
    margin: 0px;
    letter-spacing: 0.7px;
    font-size: 15px;
    font-weight: 500;
}

.pop-up{
    color: #F9FAFB;
    border: 2px solid rgb(250, 204, 21);
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: inherit;
    background-color: #1F2937;
    box-shadow: 8px 10px 15px rgba(250, 204, 21, 0.3);

    cursor: pointer;
    transition: 0.4s;
}

.pop-up h3{
    padding: 0px;
    margin: 0px;
}

.left-part{
    display: inline-grid;
    gap: 30px;
    width: 20%;
    margin-left: 30px;
    margin-top: 40px;
}

.pop-up:hover{
    transform: scale(1.2);
}

.close-btn{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close-btn:hover{
  cursor: pointer;
}

.popup-dialog{
  width: 40%;
  height: 65%;
  position: relative;
  background-color :#1F2937;
  color: white;
  border: 2px solid rgba(250, 204, 21);
  box-shadow: 14px 16px 20px rgba(250, 204, 21, 0.3);
  border-radius: 15px;
}

.popup-title{
  font-size: 28px;
}

.popup-dialog::backdrop{
  backdrop-filter: blur(10px);
  background-color: rgb(51, 50, 50,0.3);
}

.popup-details{
  font-size: 24px;
}

.popup-table{
  font-size: 20px;
  align-items: center;
  width: 90%;
}

.popup-table th{
  background-color: #fac415;
  padding: 12px 15px;
  color: black;
}

.popup-table td{
  background-color: rgb(255, 255, 255,0.1);
  padding: 12px 15px;
}

.popup-table table,tr,th,td{
  border: 1.5px solid rgba(255, 255, 255, 0.884);
}

.popup-dialog::-webkit-scrollbar {
    display: none;
}

.right-part{
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 40px;
  padding: 40px;
  height: 60vh;
  margin-top: 15px;
  align-items: center;
  justify-content: center;
}

.bar-chart,.pie-chart{
  width: 100%;
  height: 100%;
  position: relative;
}

@media screen and (max-width: 768px) {

    .left_right {
        flex-direction: column !important;
        height: auto;
    }
    .right-part {
        display: grid;
        grid-template-columns: 1fr !important;
        width: 100%;
    }

    .bar-chart, .pie-chart {
        width: 100%;
        min-height: 350px;
        overflow: hidden;
    }
}